assets/
*.jpg
*.png
*.mp4
/static/
/videos/
/css/
/static/
/videos/
/css/
*.mp4
/static/
/vedios/
/css/
webApplication/*.mp4
static/*.css
vedios/
webApplication/static/videos/*.mp4
webApplication/static/videos/*.css
webApplication/*.mp4
webApplication/static/vedios/*.mp4
webApplication/static/*.css
